<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>FlaskShop Premium</h1>
        <nav>
            <a href="/">Home</a>
            <a href="{{ url_for('signup') }}">Sign Up</a>
        </nav>
    </header>
    <div class="container">
        <h2>Login</h2>
        <form method="post">
            <label>Email:</label><br>
            <input type="email" name="email" required><br><br>
            <label>Password:</label><br>
            <input type="password" name="password" required><br><br>
            <button class="button" type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="{{ url_for('signup') }}">Sign up here</a>.</p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul style="color:red;">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
    </div>
    <footer>
        &copy; 2025 Qasim jiho Premium
    </footer>
</body>
</html>
